@import "tailwindcss";

:root {
  --background: 243, 236, 235;   /* #F3ECEB */
  --foreground: 23, 23, 23;      /* #171717 */
  --primary: 38, 65, 52; 
  --accent: 175, 150, 102;  
  --text: 33, 44, 39;    
}


@theme inline {
  --color-background: rgba(var(--background),1);
  --color-foreground: rgba(var(--foreground),1);
  --color-primary: rgba( var(--primary),1);
  --color-accent: rgba(var(--accent),1);
  --color-text : rgba(var(--text),1);
  --font-zain: var(--font-zain);
  --font-dm-serif-text : var(--font-dm-serif-text);
}



body {
  background: rgba(var(--background),0.7);
  color: rgba(var(--primary),1);
  line-height: 1.15;
  box-sizing: border-box;
  overflow-x: hidden;
}

.hero {
  height: fit-content;
  min-height: calc(100vh - 64px); 
  /* background: linear-gradient(30deg,rgba(246, 240, 239, 0) 40%, rgba(246, 240, 239, 0.8) 80%), */
  /* url('/hero-bg.png'); */
  background: linear-gradient(30deg,rgba(246, 240, 239, 0) 10%, rgba(var(--primary), 0.8) 80%),
  url('/hero-bg.png');
  background-repeat: no-repeat; 
  background-position: center center; 
  background-size: cover; 
}

.button {
  background-color: rgba(var(--primary),1);
  color: rgba(var(--background),1);
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: .3s;
  &:hover {
    background-color: #427a5f ;
  }
}

.outlined-button {
   background-color: rgba(var(--background),0.7) ;
  color: rgba(var(--primary),1);
  border: 1px solid rgba(var(--primary),1) ;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: .3s;
  backdrop-filter: blur(12px);
  &:hover {
    background-color: rgba(var(--background),1) ;
    color: rgb(var(--primary),1);
  }
}

nav a:hover {
  color: #427a5f;
  border-color: #427a5f;
}

.about-segment {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 8px; 
  background-color: rgba(var(--background),0.7);
  backdrop-filter: blur(12px);
  padding: 8px 8px;
  width: 100%;
  /* max-width: 400px; */
}



.about-segment div:first-child span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(var(--accent),1);
  padding-top: 4px;
  border-radius: 100%;
  border: 1px solid rgba(var(--accent),1);
  font-size: 28px;
  font-weight: bold;
  background-color: rgba(var(--primary),1);
  width: 36px;
  height: 36px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0,0.4);
}

.about-segment .line {
    width: 6px;
    border-radius: 60%;
    height: auto;
    background-color: rgba(var(--accent),1);
    margin-right: 18px;
}

.about-segment h2 {
  color:rgba(var(--primary),1);
  font-size: 24px;
  font-weight: bold;
}

.about-segment p {
  color: rgb(var(--primary),1);
  text-align: right;
  padding-right: 2rem;
}

@media (min-width: 1024px) { 
  .about-segment { 
    width: calc(50% - 0.5rem); 
  } 
  .about-segment h2 {
  font-size: 24px;
}
}

.input {
  background-color: rgba(var(--background),1);
  padding: 8px 16px;
  border: 1px solid rgba(var(--accent),1);
  border-radius: 6px;
  transition-duration: 450ms;
    &:focus {
      border-color: rgba(var(--primary),1);
    }
}